
 html, body {
        position: relative;
        height: 100%;
        font-family:'微软雅黑';

    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin:0;
        padding:0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff; 
    }
    .swiper-container-v {
        background: #eee;
    }

/*nav*/
/*.nav{ z-index:9; width:150px; height:100%; background:#ffc; position:absolute; right:0; top:0;}*/


/*首屏*/
.page1{ width:100%; height:100%; font-family:'微软雅黑';
    background:url(../images/bg-01.jpg) no-repeat; background-size:100% 100%;
    position:relative; 

    display:-webkit-box; 
    -webkit-box-pack:center;
    -webkit-box-align:center; 
    
    display:-ms-box; 
    -ms-box-pack:center;
    -ms-box-align:center;
}

.yezi1{width:50px; height:50px; background:url(../images/yezi1.png) no-repeat; background-size:cover;  position:absolute; left:50%; top:40%;}
.yezi2{width:30px; height:30px; background:url(../images/yezi1.png) no-repeat; background-size:cover; position:absolute; left:40%; top:20%;}
.yezi3{width:40px; height:40px; background:url(../images/yezi1.png) no-repeat; background-size:cover; position:absolute; left:30%; top:30%;}
.hudie1{width:73px; height:73px; background:url(../images/hudie.png) no-repeat; background-size:cover; position:absolute; left:60%; top:50%;}


#audio{width:77px; height:33px; /*background:url(../images/button2.png) no-repeat;*/ position:absolute; right:5%; top:10%; z-index:9; cursor:pointer; 
    -webkit-transition:.3s all ease;
    -ms-transition:.3s all ease;
    -moz-transition:.3s all ease;
     }
.page1 .box{width:660px;height:200px; position:absolute; left:50%; top:50%; margin-top:-100px; margin-left:-330px; text-align:center; 
}

.page1 .box h2{color:#ffc; text-shadow:1px 1px 3px #666;  margin-bottom:20px; }

@-webkit-keyframes move{
    form{width:0px; opacity:0;}
    to{width:660px;opacity:1;}
}
@-ms-keyframes move{
    form{width:0px; opacity:0;}
    to{width:660px;opacity:1;}
}
@-moz-keyframes move{
    form{width:0px; opacity:0;}
    to{width:660px;opacity:1;}
}
.page1 .box ul{ border-bottom:2px solid #fff; width:0; overflow:hidden; height:80px;  padding:0 30px; -webkit-animation:2s move ease forwards; 
                    -ms-animation:2s move ease forwards;
                     -moz-animation:2s move ease forwards; 
    }

.page1 .box li{ font-size:18px; float:left; line-height:80px; width:120px; text-align:center; position:relative; -webkit-transition:0.7s all ease;
    -ms-transition:0.7s all ease;
    -moz-transition:0.7s all ease;
 /*transform:translateY(0px);*/ }
.page1 .box li a{color:#ffc; text-shadow:1px 1px 3px #666; display:block; width:100%; height:100%; }

.page1 .box li:hover{-webkit-transform:scale(1.3);
                     -ms-transform:scale(1.3);
                  -moz-transform:scale(1.3);}

.page1 .btn1{ width:43px; height:43px; background:url(../images/top-ico3.png) no-repeat; position:absolute;left:50%; bottom:15px;  margin-left:-21px; cursor:pointer;
    -webkit-transition:.5s all ease; 
    -ms-transition:.5s all ease;
    -moz-transition:.5s all ease;
      }
.page1 .btn1:hover{-webkit-transform:rotate(360deg); -moz-transform:rotate(360deg);-ms-transform:rotate(360deg); background:url(../images/top-ico3-hover.png) no-repeat;}

/*二屏*/


.exhibition{text-align:center; font-family:'微软雅黑'; background:url(../images/bf-7.jpg) no-repeat; background-size:100% 100%; height:100%; width:100%;}
.exhibition h2{padding-top:3%; color:#444;}
.exhibition h3{ font-size:16px; color:#999;  margin-top:10px; margin-bottom:5px;}
.exhibition .line{ background:url(images/banner_f.png) no-repeat center; width:100%; height:16px;}
.exhibition .work{margin:0 auto;  width:1000px;  }
.exhibition .work li{ width:285px; height:180px; float:left; margin:20px; 
    -webkit-transition:1s all ease; 
    -webkit-transform:translateY(100px); 
    -ms-transition:1s all ease; 
    -ms-transform:translateY(100px);
    -moz-transition:1s all ease; 
    -moz-transform:translateY(100px); 

    opacity:0;  position:relative; border-radius:10px;  } 
.exhibition .work li a{ display:block; width:285px; height:180px; background:#f7f7f7;position:relative; z-index:2; border-radius:10px;   
    display:-webkit-box; 
    -webkit-box-pack:center; 
    -webkit-box-align:center; -webkit-transition:.5s all ease;  
    display:-ms-box; 
    -ms-box-pack:center; 
    -ms-box-align:center; -ms-transition:.5s all ease;  
    -ms-transition:.5s all ease;  
    display:-moz-box; 
    -moz-box-pack:center; 
    -moz-box-align:center; -moz-transition:.5s all ease;  
    -moz-transition:.8s all ease;  
    box-shadow:0px 0px 1px #ccc,0px 0px 1px #ccc; }
.exhibition .work li a img{display:block; position:absolute; left:50%; top:50%; margin-left:-131px; margin-top:-74px; width:262px; height:148px;}
.exhibition .work li span{ position:absolute; left:0; bottom:-10px; background:url(../images/shadow.png) no-repeat; background-size:contain; width:285px; height:40px;}

.exhibition .work li a:hover{-webkit-transform:translateY(-18px); -ms-transform:translateY(-18px); -moz-transform:translateY(-18px);}

/*三屏*/

.moreList{width:42px; height:42px; position:absolute; z-index:100; right:50px; top:50px; box-shadow:2px 2px 3px #ccc; border-radius:38%; overflow:hidden;}
.moreList img{width:42px; height:42px;  }
.page3{/*background:-webkit-radial-gradient(#b6ccd5,#dee9eb);*/  font-family:'微软雅黑'; background:url(../images/bg-8.jpg) no-repeat; background-size:100% 100%;}
.page3 .box{width:100%;  height:330px; position:relative; }
.page3 .box .demo{ width:360px; height:245px; position:absolute; left:50%; top:10%; margin-left:-200px;  }
.page3 .box .demo li{border-radius:5px; overflow:hidden; width:100%; height:100%; position:absolute; left:0; top:0; background:#399; color:#fff; font-size:50px; text-align:center; line-height:300px; font-weight:bold; font-family:微软雅黑; border:1px solid #ccc; opacity:0; box-shadow:0px 5px 10px #bbb; /*-webkit-box-reflect:below 10px -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2));*/ -webkit-transition:1s all ease;  -webkit-transform:perspective(800px) translateX(0px) rotateY(0deg);
-ms-transition:1s all ease;  -ms-transform:perspective(800px) translateX(0px) rotateY(0deg);
    -moz-transition:1s all ease;
    -mox-transform:perspective(800px) translateX(0px) rotateY(0deg);
}
.page3 .box .demo li span{ position:absolute; left:0; bottom:0px; width:100%; height:100%; background:rgba(0,0,0,0.5);  text-align:center; -webkit-transition:.7s all ease;
-ms-transition:.7s all ease; -moz-transition:.7s all ease; font-size:20px; color:#000; text-shadow:2px 2px 5px #fff,-2px -2px 5px #fff;  line-height:245px; }
.page3 .box .demo li:hover span{background:rgba(0,0,0,0); opacity:0;}
.page3 .box .demo li a{ display:block; width:100%; height:100%; position:relative;}
.page3 .box .demo li img{display:block; width:100%; height:100%; -webkit-transition:1s all ease;
    -moz-transition:1s all ease;
-ms-transition:1s all ease;}
.page3 .box .demo li:hover img{ -webkit-transform:scale(1.2); -ms-transform:scale(1.2);
    -moz-transform:scale(1.2);
}
.page3 .box .demo li.l2{ opacity:1; width:60%; height:60%;  top:20%;left:20%; -webkit-transform:perspective(800px) translateX(-280px) ;
    -ms-transform:perspective(800px) translateX(-280px) ; 
    -moz-transform:perspective(800px) translateX(-280px) ; 
     z-index:1;
}
.page3 .box .demo li.l1{ opacity:1; width:80%; height:80%; top:10%; left:30%;-webkit-transform:perspective(800px) translateX(-220px) ;  
    -ms-transform:perspective(800px) translateX(-220px) ;
    -moz-transform:perspective(800px) translateX(-220px);
    z-index:3;
}
.page3 .box .demo li.cur{ opacity:1; z-index:5;}
.page3 .box .demo li.cur span{ background:rgba(0,0,0,0); }
.page3 .box .demo li.r1{ opacity:1;  width:80%; height:80%; top:10%; left:-10%;-webkit-transform:perspective(800px) translateX(220px) ; 
    -ms-transform:perspective(800px) translateX(220px) ;
    -moz-transform:perspective(800px) translateX(220px) ; z-index:3}
.page3 .box .demo li.r2{ opacity:1; width:60%; height:60%; top:20%; left:20%; -webkit-transform:perspective(800px) translateX(280px) ; 
    -ms-transform:perspective(800px) translateX(280px) ;
     -moz-transform:perspective(800px) translateX(280px) ;
     z-index:1;}
.page3 .box #left{ position:absolute; left:15%; top:50%; border-radius:50%; box-shadow:3px 3px 10px #bbb;}
.page3 .box #left a{ display:block; width:43px; height:43px;background:url(../images/top-ico3-hover2.png) no-repeat;}
.page3 .box #right{ position:absolute; right:15%; top:50%; border-radius:50%; box-shadow:-3px 3px 10px #bbb;}
.page3 .box #right a{ display:block; width:43px; height:43px;background:url(../images/top-ico3-hover3.png) no-repeat;}
.page3 .box .line{width:100%; height:16px; background:url(images/banner_f.png) no-repeat center; position:absolute; left:0; bottom:0;  }
.page3 .text{margin-top:20px; color:#333; font-size:14px;}
.page3 .text li{ line-height:30px;]}


/*四瓶*/
.page4{/*background:-webkit-radial-gradient(#b6ccd5,#dee9eb);*/ font-family:'微软雅黑'; background:url(../images/bg-9.jpg); background-size:100% 100%;}
.page4 h2{padding-top:3%; color:#444;}
.page4 h3{ font-size:16px; color:#999;  margin-top:10px; margin-bottom:10px;}

.page4 .box{ height:100%; width:1000px;  margin:0 auto; }
.page4 .box .text{float:left; width:265px; text-align:left; margin-top:80px; line-height:30px; font-size:14px;}
.page4 .box .text p{margin-top:20px;}

.page4 .box .case{float:right; position:relative; width:710px;margin:0 auto; }
.page4 .box .case li{border:8px solid #fff; border-radius:5px; float:left; width:200px; margin:10px;height:190px; position:relative; opacity:1;
    -webkit-transform-style:preserve-3d; 
    -webkit-transform:perspective(800px) rotateY(0deg);
    -webkit-transition:1s all ease;
    -ms-transform-style:preserve-3d; 
    -ms-transform:perspective(800px) rotateY(0deg);
    -ms-transition:1s all ease;
    -moz-transform-style:preserve-3d; 
    -moz-transform:perspective(800px) rotateY(0deg);
    -moz-transition:1s all ease;
    /*-webkit-transform:translateY(100px);*/
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-ms-box;
    -ms-box-align:center;
    -ms-box-pack:center;
    display:-moz-box;
    -moz-box-align:center;
    -moz-box-pack:center;
}
.page4 .box .case li a{ display:block;  width:100%; height:100%; background:#f00; 
    position:relative;
}
.page4 .box .case li a img{width:100%; height:100%; position:absolute; left:0; top:0; }
.page4 .box .case li a .front{ -webkit-transform:translade3d(0,0,-2px)  scale(-1,1);
    -ms-transform:translade3d(0,0,-2px)  scale(-1,1);
    -moz-transform:translade3d(0,0,-2px)  scale(-1,1);
}
.page4 .box .case li a .back{ -webkit-transform:translade3d(0,0,1px) scale(-1,1);
    -ms-transform:translade3d(0,0,1px) scale(-1,1);
    -moz-transform:translade3d(0,0,1px) scale(-1,1);}
.page4 .box .case li:hover{ -webkit-box-shadow:3px 3px 2px #999; -webkit-transform:perspective(800px) rotateY(180deg);
    -ms-box-shadow:3px 3px 2px #999; -ms-transform:perspective(800px) rotateY(180deg);
    -moz-box-shadow:3px 3px 2px #999; -moz-transform:perspective(800px) rotateY(180deg);
}   
.page4 .box .case li div{ width:100%; height:16px; background:url(images/shadow.png) no-repeat; background-size:cover; position:absolute; left:0; bottom:-15px;}

/*五屏*/
.page5{background:url(../images/bg-10.jpg); font-family:'微软雅黑'; background-size:100% 100%; width:100%; height:100%;}
.page5 .photo{ width:160px; box-shadow:2px 2px 3px #000;  position: absolute; left:25%; top:30%; border-radius:6%; overflow:hidden; }
.page5 .photo img{ display:block; width:100%; height:100%;}
.page5 h2{ margin-top:70px; margin-bottom:40px; color:#444;}
.page5 ul{width:400px;  height:400px;  padding-left:270px;   margin:0 auto;}
.page5 ul li{font-size:16px; line-height:40px; text-align:left;}
.page5 ul li.my{line-height:30px; text-indent:-1em;}










