@charset "utf-8";
/* CSS Document */

/*清楚默认样式*/
h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, a, i, b, em, strong, img, input, body{margin:0; padding:0;}
b, strong{font-weight:normal;}
i, em{font-style:normal;}
li{list-style:none;}
a{text-decoration:none;}
input,textarea{border:none; background:none; outline:none;}
input, img, select{vertical-align:top;}
textarea{outline:none; resize:none;}
img{display:block; border:none; }
/*清楚默认样式*/


/*公用*/
.clearFix:after{ content:''; clear:both; display:block; }
.clearFix{ zoom:1; }
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
body{background:#fff; 
font-family: "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;}

.wrap{width:960px; margin:0 auto;}
.mb20{margin-bottom:20px;}
.mt32{margin-top:32px;}
.mt30{margin-top:30px;}
.mb18{margin-bottom:18px;}
.mt28{margin-top:28px;}
.ml0{margin-left:0;}
.height{height:1000px;}

/*公用*/